* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

ul,
ol, menu {
	list-style: none;
    
}

a {
    text-decoration: none;
    color: currentColor;
}

.container-sm{
   max-width: 1000px;
   margin: 0 auto;
}

.container-md{
   max-width: 1200px;
   margin: 0 auto;
}

.container-lg{
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
button {
	border: none;
	background-color: transparent;
}

/*barra navigazione*/

.container-lg .row{
    justify-content: space-between;
}

.container-lg .lista-1{
    display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 25px;
}
.row .img-1{
    width: 100px;
    
    
}
.button-inizia{
    padding: 0 15px;
    background-color: blue;
    color: white;
    min-height: 30px;
}

/*header-2*/
.background-1{
    background-color: rgb(180, 208, 231); 
}
.section-header{
    padding-top: 50px;
}
h1{
    font-size: 80px;
}
.col-30{
    width: 30%;
    font-size: 20px;
    padding-top: 35px;
    
}

.col-70{
    width: 70%;
    padding: 50px 0;

}
.arrow{
    font-size: 80px;
}
.button-head{
    background-color: blue;
    padding: 0 15px;
    min-height: 40px;
    color: white;
    font-size: 15px;
}
.padding-hd{
    padding: 15px 0;
}

